@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WCF Order Management</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>New Order</h2>
        <p>
            Create a new order.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">New Order &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Clients</h2>
        <p>See a list of all the clients.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Clients &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Products</h2>
        <p>See a list of all the products.</p>
        <p>@Html.ActionLink("Products", "Index", "Products", null, new {@class = "btn btn-default" })</p>     
    </div>
</div>